.header,.body,.footer{
    box-sizing:border-box;
}
.header{
    height: 45px;
    line-height: 45px;
    border:1px solid #edd0be;
    color:#00a1e9;
    font-size: 16px;
    padding-left: 5px;
}
.body{
    
    border:1px solid #ff6e97;
    width:100%;
    color:#ff6e97;
}
.footer{
    
    width:100%;
    height:150px;
    border:1px solid goldenrod;
    color:goldenrod;
}

.header .login-info{
  float:right;
}
.login{
  text-align: center;
}
.login ul{
  display: inline-block;
  margin:20px 0;
}
.login ul li{
  margin-bottom: 10px;
  text-align: right;
}

.index .btn1{
  margin:20px auto;
  width:210px;
}

/* 轮播图的样式 */
.broadcast{
  display:inline-block;
}

.broadcast .smallimglist{
  display:inline-block;
}

.broadcast .bigshowcontainer{
  text-align: center;
}

.broadcast .smallimglist li{
  float:left;
}

.broadcast .left,.broadcast .right,.broadcast .smallimglist ul{
  float:left;
}


.broadcast .smallimglist li.border{
  border:1px solid red;
}

.broadcast img{
  width:170px;height:170px;
}